apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: webserver-go
  newName: julianobergamo/webserver-go
  newTag: gitops-v0.3.0
