apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: webserver-go
  newName: julianobergamo/webserver-go
  newTag: gitops-20382bf4b08e31b99385949cf8f72e817d25657f
