apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: webserver-go
  newName: julianobergamo/webserver-go
  newTag: b0fe154c830fa30b7bdd7d4f48297e7c7b7c6b78
